@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding:0;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	/*background: #f6f6f6 url(/tpl/common/img/bg-body.jpg) no-repeat top center;*/
	color: #666666;
}

/* Generics */

object{ display:block;}

img{ border:0;}
input, form{ margin:0; padding:0;}

ul{ list-style-type:none; margin:0; padding:0; }
a{ text-decoration:none; color:#0d8ed1;}
	a:hover{ text-decoration:underline;}
	
h1, h2, h3, h4, h5{ margin:0; padding:0; font-weight:normal;color:#013365}

h2{ clear:both; font-size:1.6em; font-weight:normal; color:#000000;}
h2 span, h3 span, h4 span{font-weight:bold; }

h3,h4{ color:#0d8ed1; font-size:1.6em; margin-bottom:.1em;}

p{ font-size:1.4em; margin:0; padding:0; }
	p.intro{ width:259px; letter-spacing:-.25px; line-height:1em;}
	p span.bold {color:black;font-weight:bold}

/* contenidor pagina */
.pagina {margin:0 4px 0 4px;}

/* footer */

#info-ajbarna{ width:100%; margin-top:20px;background:#0d8ed1; text-align:center; clear:both; color:#FFFFFF; font-size:1.1em; padding:.8em 0 .7em;}
	#info-ajbarna a{ color:#FFFFFF; border:0;}
	#info-ajbarna a:hover{ text-decoration:underline;}
	#info-ajbarna #copy{ font-weight:bold; margin:0 0 0.5em;}
	#info-ajbarna address{ font-style:normal;}
	
/* formulari */


#frm-cerca ul { margin-top:3px;}
	#frm-cerca ul li{ }
	#frm-cerca .envia-av{ text-align:center;}		
		
#formulari{ /*border:5px solid #FFFFFF;  background: #0d8ed1 url(/tpl/common/img/bg-formulari.gif) repeat-x top ; padding:4px 0px 5px 10px;*/ margin:0 0 6px 0; }
	#formulari h1 {color:#0d8ed1}
	#formulari option{ background-color:#FFFFFF;}	
	#formulari:after{ height:0; display:block; visibility:hidden; clear:both; content:'.';  }
	#formulari label{ color:#FFFFFF;}
	
	#formulari select{ font-size:12px; height:20px;  }
	#formulari input{font-size:20px; height:26px;  vertical-align:middle;}
	#formulari input#q{ width:65%; padding-left:6px;}
	#formulari input, #formulari select{ border:1px solid #91d6f9;}
	#formulari input.cerca{font-size:14px;font-weight:bold; height:26px; color:#0d8ed1; border:none; padding:0 0px 0 0px; margin:0 0 0 5px; }
	li#q-cercar {}
	li#input-cercar{ margin-top:10px;float:left;margin-left:375px;}

/* contenidor */
#contenidor{ }

#contenidor-2 {display:block;}
	#contenidor-2:after { display:block; clear:both; content:'.'; height:0; overflow:hidden;}
	#ajx-search h1 {font-size:1.2em;margin-bottom:5px}
	#ajx-search h2 {font-size:1em;margin-bottom:5px}
	
  
#col-0{display:none; width:15.3em; float:left;margin:2.4em 0 3em; border:1px solid #eee;}
#col-0 .titol{background-color: #F7F7F7;border-bottom: 1px solid #E5E5E5;color: #013365; font-size: 1.6em; margin-bottom: 18px; padding: 0.4em 0.5em 0.3em 0.5em;}
#col-1{/* width:70.8em;padding:2.4em 0 2.3em; */float:left;width:100%;  }

/* fil-ariadna */

ul#fil-ariadna{width: 100%;color:#666; font-size:1.2em; float:left;margin-bottom:5px}
	ul#fil-ariadna li{ display:inline; background:url(/tpl/common/img/raquo-filariadna.gif) no-repeat right center; padding-right:1em; float:left; margin-right:0.3em;}
	ul#fil-ariadna li.last{ background:none;}
	
/* Activitats destacades */ 
#contenidor-home-2 {display:block;}
#contenidor-home-2 h2 {text-transform:uppercase;font-size:2em;color:#013365;border-bottom:1px dotted #999999;margin:9px 0 0px 0;padding-bottom:6px }	

#col-act-dest .contenidor {width:100%;display:block;float:left;position:relative; border-bottom:1px dotted #999;padding-bottom: 5px;margin-top: 10px;} 
#activitats-destacades img{float:left;width:150px;height:auto;margin:0 5px 0 0px}

/* paginador home i resultats */
#llista-resultats .paginador{ position:relative;text-align:center; font-size:1.2em; clear:both;}
	#llista-resultats.paginador ul{ width:auto; margin:auto;}
	#llista-resultats .paginador ul li{ display:inline; padding:0 0.3em;}
	#llista-resultats .paginador ul li span.bold { font-weight:bold;}
	#llista-resultats .paginador a.anterior{font-weight:bold; position:absolute; top:1.2em;  left:0.5em; padding-left:0.8em; background:url(/tpl/common/img/raquo-ant.gif) no-repeat left 0.5em}
	#llista-resultats .paginador a.seguent{font-weight:bold; position:absolute; top:1.2em; right:0.5em; padding-right:0.7em; background:url(/tpl/common/img/raquo-llistats.gif) no-repeat right 0.5em ;}

#contenidor-home-2 .paginador{padding: 7px 0 7px 0 ;border-bottom:1px dotted #7f7f7f;/*border-top:1px dotted #7f7f7f;*/ position:relative;text-align:center; font-size:1.2em; clear:both;}
	#contenidor-home-2  .paginador ul{ width:auto; margin:auto; }
	#contenidor-home-2  .paginador ul li{ display:inline;padding:0 0.3em;}
	#contenidor-home-2  .paginador a.anterior{ float:left; padding-left:0.8em; background:url(/tpl/common/img/raquo-ant.gif) no-repeat left 0.5em}
	#contenidor-home-2  .paginador a.seguent{ position:absolute; right:0px;top:7px ;padding-right:0.7em; background:url(/tpl/common/img/raquo-llistats.gif) no-repeat right 0.5em ;}

/* detall */
#col-detall-0 img{float:right;margin: 0 0 0 5px;clear:left;max-width:150px;}
#col-detall-0 h1 {color:#0d8ed1; font-size:2em; margin-bottom:.1em;font-weight:bold;}
.div-detall-1 span.status {color:red;font-weight:bold;margin-left:10px}

/* Accions */	
#accions{ background:#ffffff; border-bottom:1px dotted #7f7f7f;border-top:1px dotted #7f7f7f; padding: 0.6em .2em 0.6em 0.5em; margin-bottom:5px; height:auto; overflow:hidden}
	#accions a:hover{ text-decoration:none;}
	#accions a.sort{text-decoration:none; margin-left:10px }
	#accions p{color:#013365; float:left; margin-top:0.2em;}
	#accions span.selected {margin-left:10px;font-weight:bold;}
	#accions ul{ float:right; width:auto;}
    #accions ul li{display:inline;}
    #accions img{ margin:0 0.4em 0 0; padding:0;}
    #accions select{color:#666666; margin-left: 30px }
/* resultats */

#resultats p span.bold{ font-weight:bold; color:#000000;}
#resultats{width:100%; display:block; margin-bottom:-0.1em;}
#resultats:after{ height:0; content:'.'; display:block; visibility:hidden; clear:both;}
	#resultats img{ float:left; margin-right:0.7em;}
		
#llista-resultats{width:100%; float:left; /*width:388px;*/ padding-bottom:2em;}
	
	#llista-resultats div{ padding:1.2em 3.4em 1.3em 0em ;  border-top:1px dotted #CCC; clear:both; position:relative; height:auto; overflow:hidden;}
	    #llista-resultats .impar{ background:#ffffff;}
	    #llista-resultats .par{ background:#f6f6f6;}
		#llista-resultats .destacats{ padding:.2em;  border:1px solid #e9e9e9; }
		
			#llista-resultats h3,.destacats h3{ margin:0 0 7px 0;}
			#llista-resultats .destacats div{ background:url(/tpl/common/img/separa-destacats.gif) repeat-x bottom left; border:0; padding-bottom:1.5em; padding-left:0;}
			#llista-resultats .destacats .last{ background:none; padding-bottom:1.3em;}
		    #llista-resultats .destacats .llistat{ margin:0; padding:0 0.9em ;background:#f2f9fc; }
			
        #llista-resultats #listfoto {width: 120px;height : auto;}
        #llista-resultats .icona, #llista-resultats .destacats .icona{width:25px; position:absolute; right:8px; bottom:17px; margin:0; padding:0; border:0; background:none;}
		#llista-resultats .icona-tipus, #llista-resultats .destacats .icona-tipus { margin:5px 0 0 0; padding:0; border:0; background:none;}
		
		.categoria {font-weight:normal;font-size:1em;text-transform:uppercase;padding:0.2em 0em 0.2em 0em;}	
 	    .categoria span {-moz-border-radius: 3px;padding:1px 3px;background-color:#000000; color:#FFF;}
		#llista-resultats .filtres {border:1px solid #EEEEEE;margin-bottom:26px; padding-top:7px;padding-bottom:7px;}
		#llista-resultats .filtres h3 {color:#013365;margin-top:0;margin-bottom:5px }
		#llista-resultats .filtres li {display:inline;margin:0 35px 0 0;font-size: 12px;color: #666666;}
		#llista-resultats .filtres img {position:absolute;margin-top:4px;margin-left:5px;}
		
/***************************NOT VALIDATE***************/



