

/* Generals */
a{ color:#d50283;}

/* Menu - tb-megamenu  */

.tb-megamenu-main-menu .tb-megamenu-subnav li a:hover, 
.tb-megamenu-main-menu .tb-megamenu-subnav li a, 
.tb-megamenu-main-menu .nav .tb-megamenu-subnav li a{ 
  color:#d50283;
}


#zone-menu-wrapper .tb-megamenu-main-menu .nav > li > a:focus, 
#zone-menu-wrapper .tb-megamenu-main-menu .nav > li > a:hover,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav > .active > a,
#zone-menu-wrapper .tb-megamenu-main-menu .nav > .active > a:hover,
#zone-menu-wrapper .tb-megamenu-main-menu .nav > .active > a:focus,
#zone-menu-wrapper .tb-megamenu-main-menu .nav > li.dropdown.open.active > a:hover,
#zone-menu-wrapper .tb-megamenu-main-menu .nav > li.dropdown.open.active > a:focus {
  background-color:#d50283;
}

 



#zone-menu-wrapper .tb-megamenu .nav > .active > a,#zone-menu-wrapper .tb-megamenu .nav > .active > a:hover,#zone-menu-wrapper .tb-megamenu .nav > .active > a:focus{
	background-color:#d50283;
}

#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown a:hover , #zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle, #zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #d50283;
}

#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle

#zone-menu-wrapper .tb-megamenu-main-menu .nav > li > a:focus, 
#zone-menu-wrapper .tb-megamenu-main-menu .nav > li > a:hover {
   color: #fff;
  background-color:#d50283;
 }

/*#page #zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-submenu li a{ color: #d50283;} */

#page #zone-menu-wrapper .tb-megamenu-main-menu .nav li.home.active a, #page #zone-menu-wrapper .tb-megamenu-main-menu .nav li.home a:hover{
	background:url(../../../../themes/bcn/images/bg-menu-home-active-rosa.gif) no-repeat;
}
#zone-menu-wrapper .tb-megamenu-main-menu .nav li#bcn-search.active a, #zone-menu-wrapper .tb-megamenu-main-menu .nav li#bcn-search a:hover{
	background:url(../../../../themes/bcn/images/bg-boton-search-active-rosa.gif) no-repeat;
}

#zone-menu-wrapper .tb-megamenu-main-menu .nav li#bcn-search.bcn-close a:hover{
		background:url(../../../../themes/bcn/images/bg-boton-search-close-active-rosa.gif) no-repeat;
	}
	
#page #zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-subnav li a:hover,#page #zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-subnav li a,#page #zone-menu-wrapper .tb-megamenu-main-menu .nav .tb-megamenu-subnav li a {
    background: url(../../../../themes/bcn/images/raquo-rosa.png) no-repeat 0 4px; color:#d50283;
}

#zone-menu-wrapper .tb-megamenu-main-menu .dropdown-menu .active > a,#zone-menu-wrapper .tb-megamenu-main-menu .dropdown-menu .active > a:hover{ background:none; color:#d50283;}

/* Botons generics */	
#page a.btn { background: none repeat scroll 0 0 #d50283;}


/* Blocs linkables */
.sombraplus-bloc:hover {    
	background: url(../../../../themes/bcn/images/plus-rosa.png) no-repeat bottom right #fff;	
}


/* llistats de fitxers - enllaços */
ul.box li a, ul.box-item li a { color: #d50283;}


	
/** button mobile **/

#zone-menu-wrapper #collapsed-menu-button.active{
 background-color:#d50283;
}

#mobile-menu li.item-with-ul > *:first-child, .mobile-menu li.item-with-ul > *:first-child {
    background-image: url(../../../../themes/bcn/images/mobile/raquo-menu-rosa.png);
    background-position: 95% 16px;
    background-size: 19px auto;
}

