
/* Generals */
a{ color:#008000;}


/* Menu - tb-megamenu  */

.tb-megamenu-main-menu .tb-megamenu-subnav li a:hover, 
.tb-megamenu-main-menu .tb-megamenu-subnav li a, 
.tb-megamenu-main-menu .nav .tb-megamenu-subnav li a{ 
  color:#008000;
}

#zone-menu-wrapper .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu .nav > li > a:focus, 
#zone-menu-wrapper .tb-megamenu .nav > li > a:hover,
#zone-menu-wrapper .tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu .nav > li.dropdown.open.active > a:hover,
#zone-menu-wrapper .tb-megamenu .nav > li.dropdown.open.active > a:focus,
#zone-menu-wrapper .tb-megamenu .nav > .active > a,
#zone-menu-wrapper .tb-megamenu .nav > .active > a:hover,
#zone-menu-wrapper .tb-megamenu .nav > .active > a:focus{ background-color:#008000;}

 

#zone-menu-wrapper .tb-megamenu .nav > .active > a,#zone-menu-wrapper .tb-megamenu .nav > .active > a:hover,#zone-menu-wrapper .tb-megamenu .nav > .active > a:focus{
	background-color:#008000;
}

#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle,
#zone-menu-wrapper .tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #008000;
}

#zone-menu-wrapper .tb-megamenu-main-menu .nav > li > a:focus, 
#zone-menu-wrapper .tb-megamenu-main-menu .nav > li > a:hover {
   color: #fff;
  background-color:#008000;}



/*#page #zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-submenu li a{ color: #008000; background: url("../../images/raquo-.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);} */
 
#page #zone-menu-wrapper .tb-megamenu .nav li.home.active a,#page #zone-menu-wrapper .tb-megamenu .nav li.home a:hover{
	background:url(../../../../themes/bcn/images/bg-menu-home-active-verd.gif) no-repeat center;
}




#zone-menu-wrapper .tb-megamenu .nav li#bcn-search.active a, #zone-menu-wrapper .tb-megamenu .nav li#bcn-search a:hover{
	background:url(../../../../themes/bcn/images/bg-boton-search-active-verd.gif) no-repeat center;
}

#zone-menu-wrapper .tb-megamenu .nav li#bcn-search.bcn-close a:hover{
		background:url(../../../../themes/bcn/images/bg-boton-search-close-active-verd.gif) no-repeat center;
	}
	
#page #zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-subnav li a:hover,#page #zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-subnav li a,#page #zone-menu-wrapper .tb-megamenu-main-menu .nav .tb-megamenu-subnav li a {
    background: url(../../../../themes/bcn/images/raquo-verd.png) no-repeat 0 4px; color:#008000;
}	
	
	
/* Botons generics */	
#page a.btn {
    background: none repeat scroll 0 0 #008000;
}

/* Blocs linkables */
.sombraplus-bloc:hover {
    
	background: url(../../../../themes/bcn/images/plus-verd.png) no-repeat bottom right #fff;
	
}	 

/* llistats de fitxers - enllaços */
ul.box li a, ul.box-item li a { color: #008000;}




/** button mobile **/

#zone-menu-wrapper #collapsed-menu-button.active{
 background-color:#008000;
}

#mobile-menu li.item-with-ul > *:first-child, .mobile-menu li.item-with-ul > *:first-child {
    background-image: url(../../../../themes/bcn/images/mobile/raquo-menu-verd.png);
    background-position: 95% 16px;
    background-size: 19px auto;
}

