@charset "utf-8";
/* CSS Document */

ul, dl{ height:auto; overflow:hidden; display:block;}
li#input-cercar{ clear:both; display:inline;}


#col-act-dest .contenidor{ height:auto; overflow:hidden;}

li#q-cercar{ padding-left:0;}

#formulari{ height:auto; overflow:hidden;}


.contenidor-home-2 .paginador{ display:inline-block;}

.contenidor-home-2{ height:auto; overflow:hidden;}


#col-act-dest #act-dest-1, #act-dest-2{ margin-bottom:0.9em;}

#compartir{ height:16px; }

.tabform{ margin-top:-1px;}

.div-detall-1 h2{ display:inline-block; float:left;}

#magrada { clear:left;}



