@charset "utf-8";
/* CSS Document */

#frm-cerca-av ul li{ padding-right:1.6em;}
#frm-cerca-av #cerca-amb.section ul li{ padding-right:1.2em;}
#formulari input.cerca { padding-top:3px;}
#frm-cerca-av .envia-av input.cerca { padding-top:0;}