@charset "utf-8";

/* CSS Document */



body {

	margin: 0;

	padding:0;

	font-family:  Arial, Helvetica, sans-serif;

	font-size: 62.5%;

	background: #f6f6f6 url(/tpl/common/img/bg-body.jpg) no-repeat top center;

	color: #666666;



}



/* Generics */



object{ display:block;}



img{ border:0;}

input, form{ margin:0; padding:0;}



ul{ list-style-type:none; margin:0; padding:0; }

a{ text-decoration:none; color:#0d8ed1;}

	a:hover{ text-decoration:underline;}

h1, h2, h3, h4, h5{ margin:0; padding:0; font-weight:normal;color:#013365}



h2{ clear:both; font-size:1.6em; font-weight:normal; color:#000000;}

h2 span, h3 span, h4 span{font-weight:bold; }



h3,h4{ color:#0d8ed1; font-size:1.4em; margin-bottom:.1em;}



p{ font-size:1.2em; margin:0; padding:0; }

	p.intro{ width:259px; letter-spacing:-.25px; line-height:1em;}

	p span.bold {color:black;font-weight:bold}



#marc-web #barra-corporativa{ margin:0.5em 0em 0.5em 4.7em;}



/* Contenidors */



#marc-web{ width:99.5em; margin:0 auto; }



#logo-capsalera {

    /*height: 90px;*/

    padding: 37px 0 22px 4.2em;

    position: relative;

    

}

#logo-capsalera .beta {

    position: absolute;

    right: 35px;

    top: 20px;

    display:none;/* provisional */

}

#logo-capsalera a, #logo-capsalera a:hover {

    border: medium none;

}



#capsalera{ height:1.6em; padding:33px 42px 40px;}



#contenidor-home {width:924px; margin:0 auto 6.7em; padding:0px 3px; }

#contenidor-2 h2.classall {text-transform:uppercase;font-size:2em;color:#013365;margin:1px 0 10px 0; letter-spacing:-0.04em }

.contenidor-home-2{ margin-bottom:38px;padding:0; border:1px solid #e9e9e9; background-color:#FFFFFF; padding:1.7em 3.1em 3.1em;}

.contenidor-home-2:after{ display:block; clear:both; content:'.'; height:0; overflow:hidden;}

.contenidor-home-2 h2 {text-transform:uppercase;font-size:2em;color:#013365;border-bottom:1px dotted #999999;margin:1px 0 28px 0;padding-bottom:5px; letter-spacing:-0.04em }

#home-col-0 {float:left;width:626px;border:none;margin:0 28px 0 0}

#home-col-1 {float:left;width:270px;border:none;margin:0 0 0 0}



#activitats-per-data {width:626px;}



#bcn-proposa ul{width:178px;float:left;margin:0 9px 0 0;}

#bcn-proposa ul li{font-size:13px;padding-bottom: 0.3em; padding-left: .7em; background: transparent url(/tpl/common/img/raquo-llistats.gif) no-repeat left 0.4em;}



.banner-right div {padding:1px;}

.banner-right img{margin:10px 10px 0px 10px;float:right}

.banner-right .last img{margin-bottom:10px;}

.banner-right .gran img{margin:0;}

.banner-right .contenidor-home-2 { padding:0;}

.banners {margin-bottom: 28px;}

#divDateContainer {position:absolute;display:none;z-index:1;top:138px;left:176px}



/* Cercador */



#contenidor{ width:924px; margin:0 auto 6.7em; padding:0px 3px; border-bottom:1px solid #e9e9e9; background:url(/tpl/common/img/sombra_borde_lateral.png) repeat-y; }



#contenidor-2 { height:1%; padding:0; border-bottom:1px solid #f1f1f1; background-color:#FFFFFF; padding:1.7em 3em;}

	#contenidor-2:after { display:block; clear:both; content:'.'; height:0; overflow:hidden;}

  

#col-0{ width:15.3em; float:left;margin:2.4em 0 3em; border:1px solid #eee;}

#col-0 .titol{background-color: #F7F7F7;border-bottom: 1px solid #E5E5E5;color: #013365; font-size: 1.6em; margin-bottom: 18px; padding: 0.4em 0.5em 0.3em 0.5em;}

#col-1{ width:70.8em; float:left; padding:2.4em 0 2.3em;}



/* fil-ariadna */



ul#fil-ariadna{color:#666; font-size:1em; float:none; margin-bottom:3.1em;}

ul#fil-ariadna li{ display:inline; background:url(/tpl/common/img/raquo-filariadna.gif) no-repeat right center; padding-right:1em; float:left; margin-right:0.3em;}

	ul#fil-ariadna li.last{ background:none;}





/* Caixa filtres */

.caixa{ padding:0.7em 0 .2em; margin-right:1em; margin-left:10px;/* border-bottom:1px solid #eee;*/}

#formats.caixa {border:0;} 

#formats.caixa h3{ margin-bottom:0.5em; margin-top:0.1em;}



.caixa h4{ color:#013365; font-size:1.4em; margin-bottom:0.3em;	}

.caixa ul{font-size:1.1em; margin:0 0 .8em;}

.caixa ul li{padding-bottom: 0.1em; /*padding-left: .7em; background:url(/tpl/common/img/raquo-llistats.gif) no-repeat left 0.4em;*/}



.caixa p{ line-height:1.2em;}

	.caixa p input{ vertical-align:top; margin-top:1px;}

	.caixa p label{display: inline; padding-left: 0.2em; width: 83%; color:#0d8ed1}



/* Contingut */

#resultats p span.bold{ font-weight:bold; color:#000000;}

#resultats{ padding-left:2em; display:block; margin-bottom:-0.1em;}

#resultats:after{ height:0; content:'.'; display:block; visibility:hidden; clear:both;}

	#resultats img{ float:left; margin-right:0.7em;}

		

#llista-resultats{ float:left; width:388px; padding-bottom:2em;}



	#llista-resultats dl, #globo dl{ font-size:1.2em; margin:0;}

	#llista-resultats dl dt, #globo dl dt{ color:#000000; font-weight:bold; float:left; margin-right:0.3em;}

	#llista-resultats dl dd, #globo dl dd{ margin:0; padding:0;}

				#globo h3 {}

				/*#globo {width:250px;}*/

				#globo img {float:left;}

				#globo p {margin-left:30px;}



	#llista-resultats div{ padding:1em 3.4em 1.3em 1.2em ;  border-top:1px dotted #CCC; clear:both; position:relative; height:auto; overflow:hidden;}

	    #llista-resultats .par{ background:#f6f6f6;}

		#llista-resultats .destacats{ padding:.2em;  border:1px solid #e9e9e9; }

		

			#llista-resultats h3, .destacats h3{ margin:0 0 7px 0;}

			#llista-resultats .destacats div{ background:url(/tpl/common/img/separa-destacats.gif) repeat-x bottom left; border:0; padding-bottom:1.5em; padding-left:0;}

			#llista-resultats .destacats .last{ background:none; padding-bottom:1.3em;}

		    #llista-resultats .destacats .llistat{ margin:0; padding:0 0.9em ;background:#f2f9fc; }

			

        #llista-resultats #listfoto {width: 120px;height : auto;}

        #llista-resultats .icona, #llista-resultats .destacats .icona{width:25px; position:absolute; right:8px; bottom:17px; margin:0; padding:0; border:0; background:none;}

		#llista-resultats .icona-tipus, #llista-resultats .destacats .icona-tipus { margin:5px 0 0 0; padding:0; border:0; background:none;}

		

		.categoria, .cat-agenda, .cat-equip {margin-top:9px;font-weight:normal;font-size:1em;text-transform:uppercase;padding:0.2em 0em 0.2em 0em;}	

 	    .categoria span {-moz-border-radius: 3px;padding:1px 3px;background-color:#000000; color:#FFF;}

 	    .cat-agenda span {-moz-border-radius: 3px;padding:1px 3px;background-color:#f79721; color:#FFF;}

 	    .cat-equip span {-moz-border-radius: 3px;padding:1px 3px;background-color:#0d8ed1; color:#FFF;}

		#llista-resultats .filtres {border:1px solid #EEEEEE;margin-bottom:26px; padding-top:7px;padding-bottom:7px;}

		#llista-resultats .filtres h3 {color:#013365;margin-top:0;margin-bottom:5px }

		#llista-resultats .filtres li {display:inline;margin:0 35px 0 0;font-size: 12px;color: #666666;}

		#llista-resultats .filtres img {position:absolute;margin-top:4px;margin-left:5px;}

		

		

		#llista-resultats .dades{ width:auto; display:block; margin:0; padding:0; border:0; clear:none;}

		

#related {margin-top:20px}

#related h3, #recommend h3 {text-transform:uppercase;font-size:1.8em;color:#013365;border-bottom:1px dotted #999999;margin:9px 0 28px 0;padding-bottom:6px ; padding-left:0;}

#div-related {overflow:hidden;position:relative;margin-left:0;height:220px;width:582px;background:url(/tpl/common/img/bg-relacionats.png) no-repeat left}

#div-related h4 {font-weight:bold;font-size:12px;margin:0px 0px 5px 0px}

#div-related p {font-size:11px}

#div-related .categoria {display:none;font-size:9px}

#div-related div {width:118px;float:left;margin:19px 0px 10px 8px; }

#div-related div.next, #div-related div.prev {width:30px;margin:50px 0px 0px 0px}

#div-related div.next {float:right;margin-right:16px}

#div-related #listfoto {max-height:80px;width:118px;}

#div-related img.icona, #div-related img.icona-tipus {display:none}

#div-related p.on {margin-top:0px;}

#div-related dl{ margin:0; font-size:1.1em;}

	#div-related dl dt{ color:#000000; font-weight:bold; float:left; margin-right:0.3em;}

	#div-related dl dd{ margin:0; padding:0;}



#div-recommend h4{ font-size:1.2em; padding-left:22px; font-weight:bold;}





/* Accions */	

#accions{ background:#ffffff; border-bottom:1px dotted #7f7f7f;border-top:1px dotted #7f7f7f; padding: 0.6em 0 0.6em 0; margin-bottom:2em; height:auto; overflow:hidden}

	#accions a:hover{ text-decoration:none;}

	#accions a.sort{text-decoration:none; margin-left:10px }

	#accions h4{color:#013365; float:left; margin-top:0.2em; width:auto; font-size:1.2em; letter-spacing:-0.02em;}

	#accions span.selected {margin-left:10px;font-weight:bold; color:#000000;}

	#accions ul{ float:right; width:auto;}

	#accions ul.endresat{ float:left; font-size:1.2em; margin-top:0.2em; text-transform:lowercase; letter-spacing:-0.01em}

    #accions ul li{display:inline;}

    #accions img{ margin:0 0 0 0.4em; padding:0;}

    #accions select{color:#666666; margin-left: 35px; float:left;}

	



    

/* compartir */	

#compartir{ background:#ffffff; border-bottom:1px dotted #7f7f7f;border-top:1px dotted #7f7f7f; padding: 0.6em .2em 0.6em 0.5em; margin-bottom:2em; height:auto; overflow:hidden}

	#resultats #compartir{clear:both;margin:0;}



/* Paginador */



#llista-resultats .paginador{ position:relative;text-align:center; font-size:1.2em; clear:both; padding-left:0; padding-right:0;}

	#llista-resultats .paginador ul{ width:auto; margin:auto;}

	#llista-resultats .paginador ul li{ display:inline; padding:0 0.2em; color:#000000;}

	#llista-resultats .paginador ul li span.bold { font-weight:bold;}

	#llista-resultats .paginador a.anterior{font-weight:bold; position:absolute; top:1em;  left:0; padding-left:0.8em; background:url(/tpl/common/img/raquo-ant.gif) no-repeat left 0.45em}

	#llista-resultats .paginador a.seguent{font-weight:bold; position:absolute; top:1em; right:0; padding-right:0.7em; background:url(/tpl/common/img/raquo-llistats.gif) no-repeat right 0.45em ;}



.contenidor-home-2 .paginador{padding: 7px 0 7px 0 ;border-bottom:1px dotted #7f7f7f;border-top:1px dotted #7f7f7f; position:relative;text-align:center; font-size:1.2em; clear:both;}

	.contenidor-home-2  .paginador ul{ width:auto; margin:auto; }

	.contenidor-home-2  .paginador ul li{ display:inline;padding:0 0.1em; color:#000000; font-weight:bold;}

	.contenidor-home-2  .paginador ul li a{ font-weight:normal;}

	.contenidor-home-2  .paginador a.anterior{ float:left; padding-left:0.8em; background:url(/tpl/common/img/raquo-ant.gif) no-repeat left 0.45em}

	.contenidor-home-2  .paginador a.seguent{ position:absolute; right:0px;top:7px ;padding-right:0.7em; background:url(/tpl/common/img/raquo-llistats.gif) no-repeat right 0.45em ;}

			

/* mapa */



#mapa{top:0;width:269px; float:right; background:#ffffff; border:1px solid #e5e5e5;position:relative;}

#mapa.stop{position: static; margin-bottom:2em;}

#mapa #content-mapa{ position:relative;}

	#mapa h3.mapa{color:#013365; padding:0.4em 0.5em 0.3em 34px; font-size:1.6em; background-color:#f7f7f7; border-bottom:1px solid #e5e5e5; margin-bottom:0; letter-spacing:-0.02em;}

	#mapa .bloc-mapa{ border-top:2px solid #fafafa; background:#FFFFFF;}

	

		#mapa #amplia{ position:absolute; left:10px; top:0.9em;}

		#mapa #amplia img{ margin-top:0;}

		

		#mapa ul { background: #FFF url(/tpl/common/img/bg-llegenda.gif) repeat-y top left ; font-size:1.1em; height:auto; overflow:hidden; }

		#mapa ul li{ border-top:1px solid #ededed; padding:0.8em 1em 1em 3em;}

			#mapa ul li.localitzacio{ background:url(/tpl/common/img/icos/ico-location.gif) no-repeat 1em 0.6em;}

			#mapa ul li.agenda{background:url(/tpl/common/img/icos/ico-agenda.gif)  no-repeat 1em 0.6em;}

			#mapa ul li.equipaments{background:url(/tpl/common/img/icos/ico-equipaments.gif)  no-repeat 1em 0.6em;}



		#mapa #map {height:351px}





	

/* footer */



#info-ajbarna{ width:100%; background:#0d8ed1; text-align:center; clear:both; color:#FFFFFF; font-size:1.1em; padding:.8em 0 .7em;}

	#info-ajbarna a{ color:#FFFFFF; border:0;}

	#info-ajbarna a:hover{ text-decoration:underline;}

	#info-ajbarna #copy{ font-weight:bold; margin:0 0 0.5em;}

	#info-ajbarna address{ font-style:normal;}



/* formularis de cerca */



#capsalera{ margin:0; padding:9px 35px 50px; height:auto; background: url(/tpl/common/img/bg-sombra-cercador.png) no-repeat bottom;}

	#capsalera	h1{ text-align:center; }

	#capsalera	h1 img{ display:block; margin:auto;}

	

	#formulari option{ background-color:#FFFFFF;}

	#contenidor-formulari{ border:1px solid #E9E9E9;background-color:#FFFFFF;}

	#formulari{ border:5px solid #FFFFFF;  background:url(/tpl/common/img/bg-formulari.gif) no-repeat top #1493d4 ; padding:23px 27px 19px 27px; margin:0; position:relative; }

		#formulari:after{ height:0; display:block; visibility:hidden; clear:both; content:'.';  }

		#formulari label{ color:#FFFFFF;}

		#formulari input{ height:18px;  vertical-align:middle;}

		#formulari select{ font-size:12px; height:20px;  }

		#formulari input#q{ width:528px; padding-left:6px;color:#828181;text-align:center; font-style:italic;}

		#formulari input, #formulari select{  border:1px solid #91d6f9; background:url(/tpl/common/img/bg-input.gif) repeat-x top;  }

		li#q-cercar {margin-top:14px; text-align:center;}

		li#input-cercar{ margin-top:12px;float:left;margin-left:375px; height:2.6em;}

		

		li#cerca-avansada{margin-right:162px;margin-top:15px;float:right;color:#FFF; font-size:1.2em;text-shadow:#1973a2 1px 1px; font-weight:bold; background-image:url(/tpl/common/img/raquo-avansada.gif);background-position:right 7px;background-repeat:no-repeat; padding-right:10px; padding-top:3px; cursor:pointer;}

		li#cerca-avansada.desplegat{background-image:url(/tpl/common/img/raquo-avansada-des.gif);background-position:right 9px;}

		

#frm-cerca ul { margin-top:2px;}



		#frm-cerca .envia-av{ text-align:center;}		

		

		#formulari input.cerca{

			text-shadow:#005886 1px 1px;

			font-weight:bold; 

			width:113px;  

			background:url(/tpl/common/img/bg-boton-cerca.gif) repeat-x bottom left #0d8dd0; 

			color:#FFFFFF; 

			border:none; 

			margin-right:0px; 

			border-radius:0.3em;

			-moz-border-radius:0.3em;

			-webkit-border-radius:0.3em;

			-khtml-border-radius:0.3em;

			-moz-box-shadow:1px 1px 0 0 #07689b;

			-webkit-box-shadow:1px 1px 0 0 #07689b;

			box-shadow: 1px 1px 10 0 #07689b;

			border-top:1px solid #6ebbe3;

			border-left:1px solid #6ebbe3;

			border-bottom:1px solid #03689A;

			border-right:1px solid #03689A;

			font-family:Arial, Helvetica, sans-serif;

			font-size:1.2em;  

			letter-spacing:-0.01em;

			padding:0.2em 0 ;

			height:auto; 

			overflow:hidden;

		}

	

	#formulari .envia-av input.cerca{ font-size:1em;}

			#formulari input.cerca:hover{background:url(/tpl/common/img/bg-boton-cercaover.gif)  repeat-x bottom left #46b0e7; color:#FFFFFF; cursor: pointer;}

			#formulari #frm-cerca input.cerca.inactiu:hover{  background:url(/tpl/common/img/bg-boton-cerca.gif) repeat-x bottom left #0d8dd0; cursor:default;}

			

		/* Avançada */

		

		#div-cerca-av {clear:both; margin:21px 0 0 162px; height:auto; background: none;float:left;overflow:hidden; padding-top:.8em;}

		#div-cerca-av.js {display:none;}

		#div-cerca-av #div-pestanes {height: 32px;}

		#div-cerca-av #div-pestanes ul li {font-size:1.2em;font-weight:bold}

		

		.tabform {height: 381px;clear: both;

		padding-top:0.2em;

    display: block;

    font-size: 1.2em;

    height: auto;

    overflow: hidden;

    padding-bottom: 1em;

	background:url(/tpl/common/img/bg-section-form.gif) repeat-x scroll center top transparent;}

		.tabform, .tabform p {font-size:1.2em;}	

		

		    

		

		

		/*.tabform .envia-av{ text-align:center;}*/

		.tabform .envia-av {margin-top:20px;padding-left:218px; height:2.6em; }    

	    

	    #div-cerca-av .tabform .section{ clear:both;padding:15px 0 18px;background:url(/tpl/common/img/bg-section-form.gif) repeat-x bottom;}

	    #div-cerca-av .tabform .section input{display:inline;}

	    #div-cerca-av .tabform .section label{display:inline; margin-right:10px; font-size:0.9em;}

		#div-cerca-av .tabform .section ul{ display:inline;margin-bottom:15px}

		#div-cerca-av .tabform .section ul li{ width: auto; padding-right:1.2em;background: none;display:inline; font-size:1.2em; padding-right:0.5em;}

		#div-cerca-av .tabform .section ul li.last{ padding-right:0;}

		#div-cerca-av .tabform .section p.adresa{ margin-top:10px}

		#div-cerca-av .tabform .section p.input-q { margin-top:10px}

		

		

	    

	    #div-cerca-av h2{ color:#FFFFFF;}

			#div-cerca-av.js h2{ width:auto; float:left;}

	

	    #div-cerca-av h3{float: left; font-size:1.3em; font-weight:normal;  margin-bottom:-1em;width:119px;}

			#div-cerca-av h3 a{background:url(/tpl/common/img/bg-pestana-form-sel.gif) no-repeat center top;text-align:center; padding:8px 0 0;height: 32px; display:block;padding: 8px 5px 0;text-decoration: none;	color: #FFFFFF;}

		#div-cerca-av.js h3{ position:absolute; top:138px; left:282px;}

			#div-cerca-av.js h3 a{background:url(/tpl/common/img/bg-pestana-form.gif) no-repeat center top;}

		#div-cerca-av.js h3.agenda{ left:400px}

		#div-cerca-av.js h3.directoris{left:518px}

	    #div-cerca-av.js h3 a.active{background:url(/tpl/common/img/bg-pestana-form-sel.gif) no-repeat center top;}

		

	    #div-cerca-av .tabform .section p.input-q input { width:534px;}

	    #div-cerca-av #formDate {width:141px;margin-right:20px}

	    #div-cerca-av #input-ad1, #div-cerca-av #input-ad2, #div-cerca-av #input-ad3 {width:345px}

	    #div-cerca-av #input-ini1, #div-cerca-av #input-ini2, #div-cerca-av #input-ini3 {width:48px;margin-left:2px}

	    #div-cerca-av #input-fi1, #div-cerca-av #input-fi2, #div-cerca-av #input-fi3 {width:48px;margin-left:2px}

	    #div-cerca-av #preu {width:170px;}

	    #div-cerca-av #format1,#div-cerca-av #format2, #div-cerca-av #format3 {margin-right: 2px; width: 204px;}

	    #div-cerca-av #barri1,  #div-cerca-av #barri2, #div-cerca-av #barri3 {width:206px;}

	    

	

/* Activitats destacades

****************************************************************/

#activitats-destacades h2 {margin-bottom:10px}

#mnudest {margin: 0 0 23px;padding: 0 2px 0 3px;}

#mnudest span.menudest {background-color: black;border-radius: 3px 3px 3px 3px;color: #ffffff;display: inline;font-size: 1em;

    margin: 0 7px 0px 0;

    padding: 1px 5px;

    text-transform: uppercase;

}

#mnudest span.selected{background-color: #0d8ed1;}

#mnudest span.menudest a{color: #ffffff;}



#col-act-dest {float:left; width:58.2em}

#col-act-dest a:hover{ text-decoration:none;}

#col-act-dest #act-dest-1, #act-dest-2{ overflow:hidden;height:auto; margin-bottom:.9em;}

#col-act-dest ul li{heigth:auto; display:block; float:left;/*display:table-cell*/}

#col-act-dest .contenidor {position:relative; background-color:#ffffff; border:1px solid #ececec;padding:2px;} 

#col-act-dest .icona {width:26px; position:absolute;bottom:5px;right:1px  ;padding:0; border:0; background:none;}

#col-act-dest strong {font-size:0.8em;display:inline; color:white;background-color:black;-moz-border-radius: 3px 3px 3px 3px;border-radius:3px;padding:1px 3px;margin:0px 5px 1px 0px;text-transform:uppercase;}

#col-act-dest .bloc .contenidor div{position:relative;background-color:#f4f4f4;overflow:hidden;}

#col-act-dest p {font-size:1.2em;margin:0;padding:7px 10px 7px 10px; line-height:1.3em;}

#col-act-dest p.titol {font-size:14px;font-weight:bold;padding-bottom:0;}

#col-act-dest h3 {margin:0;padding:8px 10px 7px 10px;font-size:1.6em;padding-bottom:0; letter-spacing:-0.01em;}

#col-act-dest p.on {padding-bottom:0;}

#col-act-dest p.data {padding-top:0;}





#act-dest-1 .bloc{background: #ffffff url(/tpl/common/img/bg-sombra-destacat1.png) no-repeat bottom; padding-bottom:17px;margin-right:17px;width:274px; float:left;}



#col-act-dest .bloc .contenidor div.data{background: #f4f4f4 url(/tpl/common/img/bg-separador-dest.gif) repeat-x top; padding:0px 10px; width:auto; display:block; clear:both;}

#col-act-dest .bloc .contenidor div.data dl{font-size: 1.1em; margin: 9px 0; padding-right: 1em;}

#col-act-dest .bloc  .contenidor div.data dl dt{ color:#000000; width:auto; display:inline; font-weight:bold; float:left; margin-right:0.3em;} 

#col-act-dest .bloc .contenidor div.data dl dd{ margin:0; padding:0;}





#act-dest-1 img{ width:268px; height: auto;}

#act-dest-1 p.on, #act-dest-1  p.data{}



#act-dest-2 .bloc{background: #ffffff url(/tpl/common/img/bg-sombra-destacat2.png) no-repeat bottom;margin-right:15px;padding-bottom:11px;margin-bottom:9px; float:left;width:178px;}

#act-dest-2 .contenidor div{}



#act-dest-2 img{ width:174px; height: auto;}



#mapadest {border: 1px solid #ECECEC; padding:2px 2px 2px 2px; float:right; background:#ffffff; position:relative;}

#mapadest #map {border: 1px solid #ECECEC;width:260px;height:353px}









/* mes vistos-valorats */

#mviewed {position:relative;}

#mviewed .contenidor-home-2 {padding:29px 0 0;border:none;background-color: transparent;}

#mviewed img {position:absolute;margin-left:5px}

#mviewed p{padding:0 0 0 22px; font-size:1.1em;}

#mviewed p.on span {padding:0 0 0 22px;padding:0;}





#mviewed h3{ 

	line-height: 1.1em;

    padding-left: 22px;

    padding-right: 15px;

}

	 #recommend h3{ padding-left:0; margin-bottom:0;}



#mviewed dl{margin:0 0 0 22px; font-size:1.1em;}

	#mviewed dl dt{ color:#000000; font-weight:bold; float:left; margin-right:0.3em;}

	#mviewed dl dd{ margin:0; padding:0;}



#div-mvistos, #div-mvalorats {margin-bottom:20px;height: auto;border-left:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;border-top:1px solid #e9e9e9;}



#mviewed  h2 {font-size:1.2em;border:none}

   

   #mviewed  h2 a{color:white;font-weight:normal;text-decoration:none;}     

   #mviewed  h2.active a{color:#013365;font-weight:bold;}

   #div-mvistos div, #div-mvalorats div{background-color: #FFFFFF;border-bottom:1px dotted #CCC;padding:15px 10px 15px 0;}

   #div-mvistos .par, #div-mvalorats .par{ background:#f6f6f6;}

   #div-mvistos .last, #div-mvalorats .last{ border:none}  

      

      #mviewed  #mvistos a{width:116px;background:url(/tpl/common/img/bg-mvistos-des.gif) no-repeat;text-align:center;padding-top:8px;height: 22px;margin: 0; padding: 7px 0 0; display:block;} 

      #mviewed  #mvalorats a{padding-right:20px;width:129px;background:url(/tpl/common/img/bg-mvalorats-des.gif) no-repeat;;text-align:center;padding-top:8px;height: 22px;margin: 0; padding: 7px 0 0; display:block;}    

	  #mviewed  #mvistos.active a{background:url(/tpl/common/img/bg-mvistos-sel.gif) no-repeat;}

	  #mviewed  #mvalorats.active a{ background:url(/tpl/common/img/bg-mvalorats-sel.gif) no-repeat;}	 	    



#recommend {border:none}

   #div-recommend h2 {margin-bottom:0px} 

   #div-recommend div {background-color: #FFFFFF;border-bottom:1px dotted #CCC;padding:15px 0 15px 0;}

   #div-recommend .par{ background:#f6f6f6;}

   /*#div-recommend .last{ border:none}*/ 

   #div-recommend img {position:absolute;margin-left:5px}

   #div-recommend p{padding:0 0 0 22px; font-size:1.1em;}

   #div-recommend p.on span {padding:0 0 0 55px;padding:0;}

   #div-recommend p a {font-weight:bold;}



	#div-recommend dl{margin:0 0 0 22px; font-size:1.1em;}

		#div-recommend dl dt{ color:#000000; font-weight:bold; float:left; margin-right:0.3em;}

		#div-recommend dl dd{ margin:0; padding:0;}





/* Magrada */

#magrada {position:relative;margin-top:8px; height:auto; overflow:hidden;}

#col-detall-0 #magrada img{margin-left:0; float:left;}

#magrada span{ left: 85px;

    position: absolute;

    text-align: center;

    top: 5px;

    width: 25px;}



/* Detall */

#col-detall-0{ width:565px; float:left; padding:1.4em 0 2.3em;margin-right:29px}

    #col-detall-0 #resum {margin-top:20px}

    #col-detall-0 #texte {margin-top:20px}

	#col-detall-0 img{float:right;margin: 0 0 0 15px;clear:left;max-width:270px;max-height:250px;}

	#col-detall-0 h1 {font-size:18px;margin:0;font-weight:bold;}

	#col-detall-0 p.comments {margin-top:21px;}

	#col-detall-0 p.warning {margin-top:21px; font-weight:bold; color:#C60C30; font-size:1.5em;}

	#col-detall-0 div.div-detall-1 {min-height:200px;}

		.div-detall-1 h2{ font-size:1.8em; margin:0; padding:0; font-weight:bold; color:#013365; width:auto; display:inline;}

	

		.div-detall-1 dl{ font-size:1.2em; margin-top:1.45em;}

		.div-detall-1 dl.status{ font-size:1.6em; color:red; text-transform: uppercase;}		

			.div-detall-1 dl dt{ color:#000000; font-weight:bold; float:left; margin-right:0.3em;}

			.div-detall-1 dl dd{ margin:0; padding:0;}

		

		

#col-detall-1{ width:265px; float:right; margin:1.4em 0 2.3em;}

	#col-detall-1 div.changemap {margin-top:5px;margin-bottom:35px}

	#col-detall-1 div.com-anar {margin-bottom:35px}



#col-detall-0 #contenidor-pestanes {width:565px;margin-top:35px; margin-bottom:4em;}





#contenidor-pestanes h3 a{ height:29px; color:#013365; width:129px;text-align:center;padding:7px 0 0 0;float:left;height: 29px; background:url(/tpl/common/img/bg-pestana-sel.gif) no-repeat; margin-bottom:-9px; font-weight:normal;  margin-right:0.5em; text-decoration:none; letter-spacing:-0.02em;}

	





#contenidor-pestanes .tabdetall{ clear:both; display:block; border:1px solid #E9E9E9; padding:2.8em 2.6em 1.4em; margin-bottom:2.3em}



	#contenidor-pestanes .tabdetall h4{font-size:1.2em;font-weight:bold;color:#000; margin-bottom:0.7em;}

	#contenidor-pestanes .tabdetall div{margin-bottom:2.3em;}

	#contenidor-pestanes .tabdetall ul{ font-size:1.2em;}	

	 	#contenidor-pestanes .tabdetall ul li{margin-bottom:2em;}	

			#contenidor-pestanes .tabdetall ul dl { margin-left:0;}

				#contenidor-pestanes .tabdetall ul dl dt{ color:#000000; font-weight:bold; float:left; margin-right:0.3em; margin-left:0;}

				#contenidor-pestanes .tabdetall ul dl dd{ margin:0; padding:0;}	

#horari p{ margin-bottom:1em;}
	

	#contenidor-pestanes  h5{font-size:1.2em;}

	

	#contenidor-pestanes  #div-aprop.tabdetall h4{ color:#013365; font-size:1.4em; margin-bottom:0.5em;}

		#contenidor-pestanes  #div-aprop.tabdetall div{ margin-bottom:1em;}

	

#col-detall-0 #contenidor-pestanes.js{ position:relative; margin-top:6.2em;}

	#contenidor-pestanes.js h3 { position:absolute; top:-2em; left:0;}

		#contenidor-pestanes.js h3 a {background:url(/tpl/common/img/bg-pestana-des.gif) no-repeat;color:#FFFFFF;}

		#contenidor-pestanes.js h3 a.active{ font-weight:bold; color:#013365;background:url(/tpl/common/img/bg-pestana-sel.gif) no-repeat;}

	#contenidor-pestanes.js h3#esdeveniments, #contenidor-pestanes.js h3#aprop.posicio {  left:135px;}

	#contenidor-pestanes.js h3#aprop { left:270px;}	





#div-aprop div {margin-bottom:8px}



#detallmap, #streetview {width:262px;height:262px;position:relative}

#mapadetall, #mapastreet {position:relative;width:263px;height:263px;padding:1px; border:1px solid #e5e5e5;}

#changemap {display:none;margin-top:10px;margin-bottom:35px}

#changemap a{font-size:1.2em}

#changemap a.active {color:black;text-decoration:none}





/* Not found page */

.notfound {margin-bottom:20px }

.criteris {margin-bottom:5px }



/* literal google translate */



.info-translate{ font-size:1.5em; padding-top:1em; display:block; color:#000; font-weight:bold; }

			