/* CSS Document */

@charset "utf-8";

object {
    display: block;
}
img {
    border: 0 none;
}
input, form {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: #0D8ED1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5 {
    color: #013365;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h2 {
    clear: both;
    color: #000000;
    font-size: 1.6em;
    font-weight: normal;
}
h2 span, h3 span, h4 span {
    font-weight: bold;
}
h3, h4 {
    color: #0D8ED1;
    font-size: 1.4em;
    margin-bottom: 0.1em;
}
p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
p.intro {
    letter-spacing: -0.25px;
    line-height: 1em;
    width: 259px;
}
p span.bold {
    color: black;
    font-weight: bold;
}
#marc-web #barra-corporativa {
    margin: 0.5em 0 0.5em 4.7em;
}
#marc-web {
    margin: 0 auto;
    width: 99.5em;
}
#logo-capsalera {
    padding: 37px 0 22px 4.2em;
    position: relative;
}
#logo-capsalera .beta {
    display: none;
    position: absolute;
    right: 35px;
    top: 20px;
}
#logo-capsalera a, #logo-capsalera a:hover {
    border: medium none;
}
#capsalera {
    height: 1.6em;
    padding: 33px 42px 40px;
}
#contenidor-home {
    margin: 0 auto 6.7em;
    padding: 0 3px;
    width: 924px;
}
#contenidor-2 h2.classall {
    color: #013365;
    font-size: 2em;
    letter-spacing: -0.04em;
    margin: 1px 0 10px;
    text-transform: uppercase;
}
.contenidor-home-2 {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    margin-bottom: 38px;
    padding: 1.7em 3.1em 3.1em;
}
.contenidor-home-2:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.contenidor-home-2 h2 {
    border-bottom: 1px dotted #999999;
    color: #013365;
    font-size: 2em;
    letter-spacing: -0.04em;
    margin: 1px 0 28px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
#home-col-0 {
    border: medium none;
    float: left;
    margin: 0 28px 0 0;
    width: 626px;
}
#home-col-1 {
    border: medium none;
    float: left;
    margin: 0;
    width: 270px;
}
#activitats-per-data {
    width: 626px;
}
#bcn-proposa ul {
    float: left;
    margin: 0 9px 0 0;
    width: 178px;
}
#bcn-proposa ul li {
    background: url("/tpl/common/img/raquo-llistats.gif") no-repeat scroll left 0.4em transparent;
    font-size: 13px;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
}
.banner-right div {
    padding: 1px;
}
.banner-right img {
    float: right;
    margin: 10px 10px 0;
}
.banner-right .last img {
    margin-bottom: 10px;
}
.banner-right .gran img {
    margin: 0;
}
.banner-right .contenidor-home-2 {
    padding: 0;
}
.banners {
    margin-bottom: 28px;
}
#divDateContainer {
    display: none;
    left: 176px;
    position: absolute;
    top: 138px;
    z-index: 1;
}
#contenidor {
    background: url("/tpl/common/img/sombra_borde_lateral.png") repeat-y scroll 0 0 transparent;
    border-bottom: 1px solid #E9E9E9;
    margin: 0 auto 6.7em;
    padding: 0 3px;
    width: 924px;
}
#contenidor-2 {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F1F1F1;
    height: 1%;
    padding: 1.7em 3em;
	margin-top:15px;
}
#contenidor-2:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
#col-0 {
    border: 1px solid #EEEEEE;
    float: left;
    margin: 2.4em 0 3em;
    width: 15.3em;
}
#col-0 .titol {
    background-color: #F7F7F7;
    border-bottom: 1px solid #E5E5E5;
    color: #013365;
    font-size: 1.6em;
    margin-bottom: 18px;
    padding: 0.4em 0.5em 0.3em;
}
#col-1 {
    float: left;
    padding: 2.4em 0 2.3em;
    width: 70.8em;
}
ul#fil-ariadna {
    color: #666666;
    float: none;
    font-size: 1em;
    margin-bottom: 3.1em;
}
ul#fil-ariadna li {
    background: url("../img/raquo-filariadna.gif") no-repeat scroll right center transparent;
    display: inline;
    float: left;
    margin-right: 0.3em;
    padding-right: 1em;
}
ul#fil-ariadna li.last {
    background: none repeat scroll 0 0 transparent;
}
.caixa {
    margin-left: 10px;
    margin-right: 1em;
    padding: 0.7em 0 0.2em;
}
#formats.caixa {
    border: 0 none;
}
#formats.caixa h3 {
    margin-bottom: 0.5em;
    margin-top: 0.1em;
}
.caixa h4 {
    color: #013365;
    font-size: 1.4em;
    margin-bottom: 0.3em;
}
.caixa ul {
    font-size: 1.1em;
    margin: 0 0 0.8em;
}
.caixa ul li {
    padding-bottom: 0.1em;
}
.caixa p {
    line-height: 1.2em;
}
.caixa p input {
    margin-top: 1px;
    vertical-align: top;
}
.caixa p label {
    color: #0D8ED1;
    display: inline;
    padding-left: 0.2em;
    width: 83%;
}
#resultats p span.bold {
    color: #000000;
    font-weight: bold;
}
#resultats {
    display: block;
    margin-bottom: -0.1em;
    padding-left: 2em;
}
#resultats:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#resultats img {
    float: left;
    margin-right: 0.7em;
}
#llista-resultats {
    float: left;
    padding-bottom: 2em;
    width: 388px;
}
#llista-resultats dl, #globo dl {
    font-size: 1.2em;
    margin: 0;
}
#llista-resultats dl dt, #globo dl dt {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
}
#llista-resultats dl dd, #globo dl dd {
    margin: 0;
    padding: 0;
}
#globo h3 {
}
#globo img {
    float: left;
}
#globo p {
    margin-left: 30px;
}
#llista-resultats div {
    border-top: 1px dotted #CCCCCC;
    clear: both;
    height: auto;
    overflow: hidden;
    padding: 1em 3.4em 1.3em 1.2em;
    position: relative;
}
#llista-resultats .par {
    background: none repeat scroll 0 0 #F6F6F6;
}
#llista-resultats .destacats {
    border: 1px solid #E9E9E9;
    padding: 0.2em;
}
#llista-resultats h3, .destacats h3 {
    margin: 0 0 7px;
}
#llista-resultats .destacats div {
    background: url("/tpl/common/img/separa-destacats.gif") repeat-x scroll left bottom transparent;
    border: 0 none;
    padding-bottom: 1.5em;
    padding-left: 0;
}
#llista-resultats .destacats .last {
    background: none repeat scroll 0 0 transparent;
    padding-bottom: 1.3em;
}
#llista-resultats .destacats .llistat {
    background: none repeat scroll 0 0 #F2F9FC;
    margin: 0;
    padding: 0 0.9em;
}
#llista-resultats #listfoto {
    height: auto;
    width: 120px;
}
#llista-resultats .icona, #llista-resultats .destacats .icona {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 17px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 8px;
    width: 25px;
}
#llista-resultats .icona-tipus, #llista-resultats .destacats .icona-tipus {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 5px 0 0;
    padding: 0;
}
.categoria, .cat-agenda, .cat-equip {
    font-size: 1em;
    font-weight: normal;
    margin-top: 9px;
    padding: 0.2em 0;
    text-transform: uppercase;
}
.categoria span {
    background-color: #000000;
    color: #FFFFFF;
    padding: 1px 3px;
}
.cat-agenda span {
    background-color: #F79721;
    color: #FFFFFF;
    padding: 1px 3px;
}
.cat-equip span {
    background-color: #0D8ED1;
    color: #FFFFFF;
    padding: 1px 3px;
}
#llista-resultats .filtres {
    border: 1px solid #EEEEEE;
    margin-bottom: 26px;
    padding-bottom: 7px;
    padding-top: 7px;
}
#llista-resultats .filtres h3 {
    color: #013365;
    margin-bottom: 5px;
    margin-top: 0;
}
#llista-resultats .filtres li {
    color: #666666;
    display: inline;
    font-size: 12px;
    margin: 0 35px 0 0;
}

#llista-resultats .filtres img {
    margin-left: 5px;
    margin-top: 4px;
    position: absolute;
}
#llista-resultats .dades {
    border: 0 none;
    clear: none;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}
#related {
    margin-top: 20px;
}
#related h3, #recommend h3 {
    border-bottom: 1px dotted #999999;
    color: #013365;
    font-size: 1.8em;
    margin: 9px 0 28px;
    padding-bottom: 6px;
    padding-left: 0;
    text-transform: uppercase;
}
#div-related {
    background: url("/tpl/common/img/bg-relacionats.png") no-repeat scroll left center transparent;
    height: 220px;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    width: 582px;
}
#div-related h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
}
#div-related p {
    font-size: 11px;
}
#div-related .categoria {
    display: none;
    font-size: 9px;
}
#div-related div {
    float: left;
    margin: 19px 0 10px 8px;
    width: 118px;
}
#div-related div.next, #div-related div.prev {
    margin: 50px 0 0;
    width: 30px;
}
#div-related div.next {
    float: right;
    margin-right: 16px;
}
#div-related #listfoto {
    max-height: 80px;
    width: 118px;
}
#div-related img.icona, #div-related img.icona-tipus {
    display: none;
}
#div-related p.on {
    margin-top: 0;
}
#div-related dl {
    font-size: 1.1em;
    margin: 0;
}
#div-related dl dt {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
}
#div-related dl dd {
    margin: 0;
    padding: 0;
}
#div-recommend h4 {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 22px;
}
#accions {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dotted #7F7F7F;
    border-top: 1px dotted #7F7F7F;
    height: auto;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 0.6em 0;
}
#accions a:hover {
    text-decoration: none;
}
#accions a.sort {
    margin-left: 10px;
    text-decoration: none;
}
#accions h4 {
    color: #013365;
    float: left;
    font-size: 1.2em;
    letter-spacing: -0.02em;
    margin-top: 0.2em;
    width: auto;
}
#accions span.selected {
    color: #000000;
    font-weight: bold;
    margin-left: 10px;
}
#accions ul {
    float: right;
    width: auto;
}
#accions ul.endresat {
    float: left;
    font-size: 1.2em;
    letter-spacing: -0.01em;
    margin-top: 0.2em;
    text-transform: lowercase;
}
#accions ul li {
    display: inline;
}
#accions img {
    margin: 0 0 0 0.4em;
    padding: 0;
}
#accions select {
    color: #666666;
    float: left;
    margin-left: 35px;
}
#compartir {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dotted #7F7F7F;
    border-top: 1px dotted #7F7F7F;
    height: auto;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 0.6em 0.2em 0.6em 0.5em;
}
#resultats #compartir {
    clear: both;
    margin: 0;
}
#llista-resultats .paginador {
    clear: both;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
}
#llista-resultats .paginador ul {
    margin: auto;
    width: auto;
}
#llista-resultats .paginador ul li {
    color: #000000;
    display: inline;
    padding: 0 0.2em;
}
#llista-resultats .paginador ul li span.bold {
    font-weight: bold;
}
#llista-resultats .paginador a.anterior {
    background: url("/tpl/common/img/raquo-ant.gif") no-repeat scroll left 0.45em transparent;
    font-weight: bold;
    left: 0;
    padding-left: 0.8em;
    position: absolute;
    top: 1em;
}
#llista-resultats .paginador a.seguent {
    background: url("/tpl/common/img/raquo-llistats.gif") no-repeat scroll right 0.45em transparent;
    font-weight: bold;
    padding-right: 0.7em;
    position: absolute;
    right: 0;
    top: 1em;
}
.contenidor-home-2 .paginador {
    border-bottom: 1px dotted #7F7F7F;
    border-top: 1px dotted #7F7F7F;
    clear: both;
    font-size: 1.2em;
    padding: 7px 0;
    position: relative;
    text-align: center;
}
.contenidor-home-2 .paginador ul {
    margin: auto;
    width: auto;
}
.contenidor-home-2 .paginador ul li {
    color: #000000;
    display: inline;
    font-weight: bold;
    padding: 0 0.1em;
}
.contenidor-home-2 .paginador ul li a {
    font-weight: normal;
}
.contenidor-home-2 .paginador a.anterior {
    background: url("/tpl/common/img/raquo-ant.gif") no-repeat scroll left 0.45em transparent;
    float: left;
    padding-left: 0.8em;
}
.contenidor-home-2 .paginador a.seguent {
    background: url("/tpl/common/img/raquo-llistats.gif") no-repeat scroll right 0.45em transparent;
    padding-right: 0.7em;
    position: absolute;
    right: 0;
    top: 7px;
}
#mapa {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    float: right;
    position: relative;
    top: 0;
    width: 269px;
}
#mapa.stop {
    margin-bottom: 2em;
    position: static;
}
#mapa #content-mapa {
    position: relative;
}
#mapa h3.mapa {
    background-color: #F7F7F7;
    border-bottom: 1px solid #E5E5E5;
    color: #013365;
    font-size: 1.6em;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    padding: 0.4em 0.5em 0.3em 34px;
}
#mapa .bloc-mapa {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 2px solid #FAFAFA;
}
#mapa #amplia {
    left: 10px;
    position: absolute;
    top: 0.9em;
}
#mapa #amplia img {
    margin-top: 0;
}
#mapa ul {
    background: url("/tpl/common/img/bg-llegenda.gif") repeat-y scroll left top #FFFFFF;
    font-size: 1.1em;
    height: auto;
    overflow: hidden;
}
#mapa ul li {
    border-top: 1px solid #EDEDED;
    padding: 0.8em 1em 1em 3em;
}
#mapa ul li.localitzacio {
    background: url("/tpl/common/img/icos/ico-location.gif") no-repeat scroll 1em 0.6em transparent;
}
#mapa ul li.agenda {
    background: url("/tpl/common/img/icos/ico-agenda.gif") no-repeat scroll 1em 0.6em transparent;
}
#mapa ul li.equipaments {
    background: url("/tpl/common/img/icos/ico-equipaments.gif") no-repeat scroll 1em 0.6em transparent;
}
#mapa #map {
    height: 351px;
}
#info-ajbarna {
    background: none repeat scroll 0 0 #0D8ED1;
    clear: both;
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 0.8em 0 0.7em;
    text-align: center;
    width: 100%;
}
#info-ajbarna a {
    border: 0 none;
    color: #FFFFFF;
}
#info-ajbarna a:hover {
    text-decoration: underline;
}
#info-ajbarna #copy {
    font-weight: bold;
    margin: 0 0 0.5em;
}
#info-ajbarna address {
    font-style: normal;
}
#capsalera {
    background: url("/tpl/common/img/bg-sombra-cercador.png") no-repeat scroll center bottom transparent;
    height: auto;
    margin: 0;
    padding: 9px 35px 50px;
}
#capsalera h1 {
    text-align: center;
}
#capsalera h1 img {
    display: block;
    margin: auto;
}
#formulari option {
    background-color: #FFFFFF;
}
#contenidor-formulari {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
}
#formulari {
    background: url("/tpl/common/img/bg-formulari.gif") no-repeat scroll center top #1493D4;
    border: 5px solid #FFFFFF;
    margin: 0;
    padding: 23px 27px 19px;
    position: relative;
}
#formulari:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#formulari label {
    color: #FFFFFF;
}
#formulari input {
    height: 18px;
    vertical-align: middle;
}
#formulari select {
    font-size: 12px;
    height: 20px;
}
#formulari input#q {
    color: #828181;
    font-style: italic;
    padding-left: 6px;
    text-align: center;
    width: 528px;
}
#formulari input, #formulari select {
    background: url("/tpl/common/img/bg-input.gif") repeat-x scroll center top transparent;
    border: 1px solid #91D6F9;
}
li#q-cercar {
    margin-top: 14px;
    text-align: center;
}
li#input-cercar {
    float: left;
    height: 2.6em;
    margin-left: 375px;
    margin-top: 12px;
}
li#cerca-avansada {
    background-image: url("/tpl/common/img/raquo-avansada.gif");
    background-position: right 7px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 162px;
    margin-top: 15px;
    padding-right: 10px;
    padding-top: 3px;
    text-shadow: 1px 1px #1973A2;
}
li#cerca-avansada.desplegat {
    background-image: url("/tpl/common/img/raquo-avansada-des.gif");
    background-position: right 9px;
}
#frm-cerca ul {
    margin-top: 2px;
}
#frm-cerca .envia-av {
    text-align: center;
}
#formulari input.cerca {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/tpl/common/img/bg-boton-cerca.gif") repeat-x scroll left bottom #0D8DD0;
    border-color: #6EBBE3 #03689A #03689A #6EBBE3;
    border-image: none;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    height: auto;
    letter-spacing: -0.01em;
    margin-right: 0;
    overflow: hidden;
    padding: 0.2em 0;
    text-shadow: 1px 1px #005886;
    width: 113px;
}
#formulari .envia-av input.cerca {
    font-size: 1em;
}
#formulari input.cerca:hover {
    background: url("/tpl/common/img/bg-boton-cercaover.gif") repeat-x scroll left bottom #46B0E7;
    color: #FFFFFF;
    cursor: pointer;
}
#formulari #frm-cerca input.cerca.inactiu:hover {
    background: url("/tpl/common/img/bg-boton-cerca.gif") repeat-x scroll left bottom #0D8DD0;
    cursor: default;
}
#div-cerca-av {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: auto;
    margin: 21px 0 0 162px;
    overflow: hidden;
    padding-top: 0.8em;
}
#div-cerca-av.js {
    display: none;
}
#div-cerca-av #div-pestanes {
    height: 32px;
}
#div-cerca-av #div-pestanes ul li {
    font-size: 1.2em;
    font-weight: bold;
}
.tabform {
    background: url("/tpl/common/img/bg-section-form.gif") repeat-x scroll center top transparent;
    clear: both;
    display: block;
    font-size: 1.2em;
    height: auto;
    overflow: hidden;
    padding-bottom: 1em;
    padding-top: 0.2em;
}
.tabform, .tabform p {
    font-size: 1.2em;
}
.tabform .envia-av {
    height: 2.6em;
    margin-top: 20px;
    padding-left: 218px;
}
#div-cerca-av .tabform .section {
    background: url("/tpl/common/img/bg-section-form.gif") repeat-x scroll center bottom transparent;
    clear: both;
    padding: 15px 0 18px;
}
#div-cerca-av .tabform .section input {
    display: inline;
}
#div-cerca-av .tabform .section label {
    display: inline;
    font-size: 0.9em;
    margin-right: 10px;
}
#div-cerca-av .tabform .section ul {
    display: inline;
    margin-bottom: 15px;
}
#div-cerca-av .tabform .section ul li {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    font-size: 1.2em;
    padding-right: 0.5em;
    width: auto;
}
#div-cerca-av .tabform .section ul li.last {
    padding-right: 0;
}
#div-cerca-av .tabform .section p.adresa {
    margin-top: 10px;
}
#div-cerca-av .tabform .section p.input-q {
    margin-top: 10px;
}
#div-cerca-av h2 {
    color: #FFFFFF;
}
#div-cerca-av.js h2 {
    float: left;
    width: auto;
}
#div-cerca-av h3 {
    float: left;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: -1em;
    width: 119px;
}
#div-cerca-av h3 a {
    background: url("/tpl/common/img/bg-pestana-form-sel.gif") no-repeat scroll center top transparent;
    color: #FFFFFF;
    display: block;
    height: 32px;
    padding: 8px 5px 0;
    text-align: center;
    text-decoration: none;
}
#div-cerca-av.js h3 {
    left: 282px;
    position: absolute;
    top: 138px;
}
#div-cerca-av.js h3 a {
    background: url("/tpl/common/img/bg-pestana-form.gif") no-repeat scroll center top transparent;
}
#div-cerca-av.js h3.agenda {
    left: 400px;
}
#div-cerca-av.js h3.directoris {
    left: 518px;
}
#div-cerca-av.js h3 a.active {
    background: url("/tpl/common/img/bg-pestana-form-sel.gif") no-repeat scroll center top transparent;
}
#div-cerca-av .tabform .section p.input-q input {
    width: 534px;
}
#div-cerca-av #formDate {
    margin-right: 20px;
    width: 141px;
}
#div-cerca-av #input-ad1, #div-cerca-av #input-ad2, #div-cerca-av #input-ad3 {
    width: 345px;
}
#div-cerca-av #input-ini1, #div-cerca-av #input-ini2, #div-cerca-av #input-ini3 {
    margin-left: 2px;
    width: 48px;
}
#div-cerca-av #input-fi1, #div-cerca-av #input-fi2, #div-cerca-av #input-fi3 {
    margin-left: 2px;
    width: 48px;
}
#div-cerca-av #preu {
    width: 170px;
}
#div-cerca-av #format1, #div-cerca-av #format2, #div-cerca-av #format3 {
    margin-right: 2px;
    width: 204px;
}
#div-cerca-av #barri1, #div-cerca-av #barri2, #div-cerca-av #barri3 {
    width: 206px;
}
#activitats-destacades h2 {
    margin-bottom: 10px;
}
#mnudest {
    margin: 0 0 23px;
    padding: 0 2px 0 3px;
}
#mnudest span.menudest {
    background-color: black;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline;
    font-size: 1em;
    margin: 0 7px 0 0;
    padding: 1px 5px;
    text-transform: uppercase;
}
#mnudest span.selected {
    background-color: #0D8ED1;
}
#mnudest span.menudest a {
    color: #FFFFFF;
}
#col-act-dest {
    float: left;
    width: 58.2em;
}
#col-act-dest a:hover {
    text-decoration: none;
}
#col-act-dest #act-dest-1, #act-dest-2 {
    height: auto;
    margin-bottom: 0.9em;
    overflow: hidden;
}
#col-act-dest ul li {
    display: block;
    float: left;
}
#col-act-dest .contenidor {
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    padding: 2px;
    position: relative;
}
#col-act-dest .icona {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 5px;
    padding: 0;
    position: absolute;
    right: 1px;
    width: 26px;
}
#col-act-dest strong {
    background-color: black;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline;
    font-size: 0.8em;
    margin: 0 5px 1px 0;
    padding: 1px 3px;
    text-transform: uppercase;
}
#col-act-dest .bloc .contenidor div {
    background-color: #F4F4F4;
    overflow: hidden;
    position: relative;
}
#col-act-dest p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0;
    padding: 7px 10px;
}
#col-act-dest p.titol {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 0;
}
#col-act-dest h3 {
    font-size: 1.6em;
    letter-spacing: -0.01em;
    margin: 0;
    padding: 8px 10px 0;
}
#col-act-dest p.on {
    padding-bottom: 0;
}
#col-act-dest p.data {
    padding-top: 0;
}
#act-dest-1 .bloc {
    background: url("/tpl/common/img/bg-sombra-destacat1.png") no-repeat scroll center bottom #FFFFFF;
    float: left;
    margin-right: 17px;
    padding-bottom: 17px;
    width: 274px;
}
#col-act-dest .bloc .contenidor div.data {
    background: url("/tpl/common/img/bg-separador-dest.gif") repeat-x scroll center top #F4F4F4;
    clear: both;
    display: block;
    padding: 0 10px;
    width: auto;
}
#col-act-dest .bloc .contenidor div.data dl {
    font-size: 1.1em;
    margin: 9px 0;
    padding-right: 1em;
}
#col-act-dest .bloc .contenidor div.data dl dt {
    color: #000000;
    display: inline;
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
    width: auto;
}
#col-act-dest .bloc .contenidor div.data dl dd {
    margin: 0;
    padding: 0;
}
#act-dest-1 img {
    height: auto;
    width: 268px;
}
#act-dest-1 p.on, #act-dest-1 p.data {
}
#act-dest-2 .bloc {
    background: url("/tpl/common/img/bg-sombra-destacat2.png") no-repeat scroll center bottom #FFFFFF;
    float: left;
    margin-bottom: 9px;
    margin-right: 15px;
    padding-bottom: 11px;
    width: 178px;
}
#act-dest-2 .contenidor div {
}
#act-dest-2 img {
    height: auto;
    width: 174px;
}
#mapadest {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    float: right;
    padding: 2px;
    position: relative;
}
#mapadest #map {
    border: 1px solid #ECECEC;
    height: 353px;
    width: 260px;
}
#mviewed {
    position: relative;
}
#mviewed .contenidor-home-2 {
    background-color: transparent;
    border: medium none;
    padding: 29px 0 0;
}
#mviewed img {
    margin-left: 5px;
    position: absolute;
}
#mviewed p {
    font-size: 1.1em;
    padding: 0 0 0 22px;
}
#mviewed p.on span {
    padding: 0;
}
#mviewed h3 {
    line-height: 1.1em;
    padding-left: 22px;
    padding-right: 15px;
}
#recommend h3 {
    margin-bottom: 0;
    padding-left: 0;
}
#mviewed dl {
    font-size: 1.1em;
    margin: 0 0 0 22px;
}
#mviewed dl dt {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
}
#mviewed dl dd {
    margin: 0;
    padding: 0;
}
#div-mvistos, #div-mvalorats {
    border-color: #E9E9E9;
    border-left: 1px solid #E9E9E9;
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin-bottom: 20px;
}
#mviewed h2 {
    border: medium none;
    font-size: 1.2em;
}
#mviewed h2 a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}
#mviewed h2.active a {
    color: #013365;
    font-weight: bold;
}
#div-mvistos div, #div-mvalorats div {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #CCCCCC;
    padding: 15px 10px 15px 0;
}
#div-mvistos .par, #div-mvalorats .par {
    background: none repeat scroll 0 0 #F6F6F6;
}
#div-mvistos .last, #div-mvalorats .last {
    border: medium none;
}
#mviewed #mvistos a {
    background: url("/tpl/common/img/bg-mvistos-des.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    margin: 0;
    padding: 7px 0 0;
    text-align: center;
    width: 116px;
}
#mviewed #mvalorats a {
    background: url("/tpl/common/img/bg-mvalorats-des.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    margin: 0;
    padding: 7px 0 0;
    text-align: center;
    width: 129px;
}
#mviewed #mvistos.active a {
    background: url("/tpl/common/img/bg-mvistos-sel.gif") no-repeat scroll 0 0 transparent;
}
#mviewed #mvalorats.active a {
    background: url("/tpl/common/img/bg-mvalorats-sel.gif") no-repeat scroll 0 0 transparent;
}
#recommend {
    border: medium none;
}
#div-recommend h2 {
    margin-bottom: 0;
}
#div-recommend div {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #CCCCCC;
    padding: 15px 0;
}
#div-recommend .par {
    background: none repeat scroll 0 0 #F6F6F6;
}
#div-recommend img {
    margin-left: 5px;
    position: absolute;
}
#div-recommend p {
    font-size: 1.1em;
    padding: 0 0 0 22px;
}
#div-recommend p.on span {
    padding: 0;
}
#div-recommend p a {
    font-weight: bold;
}
#div-recommend dl {
    font-size: 1.1em;
    margin: 0 0 0 22px;
}
#div-recommend dl dt {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
}
#div-recommend dl dd {
    margin: 0;
    padding: 0;
}
#magrada {
    height: auto;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
}
#col-detall-0 #magrada img {
    float: left;
    margin-left: 0;
}
#magrada span {
    left: 85px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 25px;
}
#col-detall-0 {
    float: left;
    margin-right: 29px;
    padding: 1.4em 0 2.3em;
    width: 565px;
}
#col-detall-0 #resum {
    margin-top: 20px;
}
#col-detall-0 #texte {
    margin-top: 20px;
}
#col-detall-0 img {
    clear: left;
    float: right;
    margin: 0 0 0 15px;
    max-height: 250px;
    max-width: 270px;
}
#col-detall-0 h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;

}
#col-detall-0 p.comments {
    margin-top: 21px;
}
#col-detall-0 p.warning {
    margin-top: 21px;
}
#col-detall-0 div.div-detall-1 {
    min-height: 200px;
}
.div-detall-1 h2 {
    color: #013365;
    display: inline;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: auto;
}
.div-detall-1 dl {
    font-size: 1.2em;
    margin-top: 1.45em;
}
.div-detall-1 dl.status {
    color: red;
    font-size: 1.6em;
    text-transform: uppercase;
}
.div-detall-1 dl dt {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
}
.div-detall-1 dl dd {
    margin: 0;
    padding: 0;
}
#col-detall-1 {
    float: right;
    margin: 1.4em 0 2.3em;
    width: 265px;
}
#col-detall-1 div.changemap {
    margin-bottom: 35px;
    margin-top: 5px;
}
#col-detall-1 div.com-anar {
    margin-bottom: 35px;
}
#col-detall-0 #contenidor-pestanes {
    margin-bottom: 4em;
    margin-top: 35px;
    width: 565px;
}
#contenidor-pestanes h3 a {
    background: url("/tpl/common/img/bg-pestana-sel.gif") no-repeat scroll 0 0 transparent;
    color: #013365;
    float: left;
    font-weight: normal;
    height: 29px;
    letter-spacing: -0.02em;
    margin-bottom: -9px;
    margin-right: 0.5em;
    padding: 7px 0 0;
    text-align: center;
    text-decoration: none;
    width: 129px;
}
#contenidor-pestanes .tabdetall {
    border: 1px solid #E9E9E9;
    clear: both;
    display: block;
    margin-bottom: 2.3em;
    padding: 2.8em 2.6em 1.4em;
}
#contenidor-pestanes .tabdetall h4 {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.7em;
}
#contenidor-pestanes .tabdetall div {
    margin-bottom: 2.3em;
}
#contenidor-pestanes .tabdetall ul {
    font-size: 1.2em;
}
#contenidor-pestanes .tabdetall ul li {
    margin-bottom: 2em;
}
#contenidor-pestanes .tabdetall ul dl {
    margin-left: 0;
}
#contenidor-pestanes .tabdetall ul dl dt {
    color: #000000;
    float: left;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0.3em;
}
#contenidor-pestanes .tabdetall ul dl dd {
    margin: 0;
    padding: 0;
}
#contenidor-pestanes h5 {
    font-size: 1.2em;
}
#contenidor-pestanes #div-aprop.tabdetall h4 {
    color: #013365;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
#contenidor-pestanes #div-aprop.tabdetall div {
    margin-bottom: 1em;
}
#col-detall-0 #contenidor-pestanes.js {
    margin-top: 6.2em;
    position: relative;
}
#contenidor-pestanes.js h3 {
    left: 0;
    position: absolute;
    top: -2em;
}
#contenidor-pestanes.js h3 a {
    background: url("/tpl/common/img/bg-pestana-des.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
#contenidor-pestanes.js h3 a.active {
    background: url("/tpl/common/img/bg-pestana-sel.gif") no-repeat scroll 0 0 transparent;
    color: #013365;
    font-weight: bold;
}
#contenidor-pestanes.js h3#esdeveniments, #contenidor-pestanes.js h3#aprop.posicio {
    left: 135px;
}
#contenidor-pestanes.js h3#aprop {
    left: 270px;
}
#div-aprop div {
    margin-bottom: 8px;
}
#detallmap, #streetview {
    height: 262px;
    position: relative;
    width: 262px;
}
#mapadetall, #mapastreet {
    border: 1px solid #E5E5E5;
    height: 263px;
    padding: 1px;
    position: relative;
    width: 263px;
}
#changemap {
    display: none;
    margin-bottom: 35px;
    margin-top: 10px;
}
#changemap a {
    font-size: 1.2em;
}
#changemap a.active {
    color: black;
    text-decoration: none;
}
.notfound {
    margin-bottom: 20px;
}
.criteris {
    margin-bottom: 5px;
}

/*JSJ Modificacion*/

#resultats {background: url(../img/separador-tit.gif) repeat-x left top #FFF; padding-top:1px; margin-left:2em; padding-left:0;}
#resultats #accions{background: url(../img/separador-tit.gif) repeat-x bottom left #FFF; border:0; }


.caixa ul li.publics, .caixa ul li.concertats, .caixa ul li.privats{ font-size:1.1em; font-weight:bold;}
	
.caixa ul li.concertats a{ color:#cf0245;}
.caixa ul li.privats a{ color:#228001;}
