/* CSS Document */
	#map-canvasGM{ width:100%; height:375px;}
	.item{ clear:both; margin-bottom:0.5em; height:auto; overflow:hidden;}
	.item.amb-img img{ float:left; width:27.5%; margin-right:0.5em;}
	.gm-style-iw .item.amb-img img{width:20%;}
	.item div{ width:100%;}
	.item div p{ font-size:1.2em; margin:0;}
	.bubble .item div p{ font-size:1em;}
	.item div strong{ font-weight:normal;font-size:1.2em; margin:0; line-height:1em;}
	#llistat-text h3{ font-size:1.4em; margin:0;}
	.item.amb-img div{ float:left; display:inline-block; width:70%;}
	.gm-style-iw .item.amb-img{ width:79%;}
	.item dl{ margin:0.5em 0; height:auto; overflow:hidden;}
	.item dl dt{ font-weight:bold; float:left; margin-right:0.3em; clear:both;}
	.item dl dd{ float:left; margin:0; padding:0;}
	
/* menu */
#bcn-map-actions{ width:20%; float:left}
#bcn-map-actions ul{ list-style:none; margin:0; padding:0;}
	#bcn-map-actions ul li{ list-style:none; clear:both; display:block; }
	#bcn-map-actions ul li input{ float:left; margin-right:0.5em;}
	#map-canvasGM{ width:100%;}

#bcn-map-view{ width:80%; height:auto; overflow:hidden; display:block; float:left;}

	
#menu-view-map ul,#menu-view-map ul li{ list-style:none; margin:0; padding:0; }
#menu-view-map ul li.active a{ font-weight:bold; color:#000; text-decoration:none;}
#menu-view-map ul{ height:auto; overflow:hidden; margin-bottom:1em;}
	#menu-view-map ul li{ float:left; padding-left:1em; margin-left:1em; border-left:1px solid #d6d6d6;}
		#menu-view-map ul li#item-view-map{ padding-left:0; margin-left:0; border:none;}