@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
 font-size:62.5%;
 font-family: 'Source Sans Pro', sans-serif;
}

body.noscroll, html.noscroll  {
  overflow:hidden;
}

#zone-menu-wrapper.noscroll #mobile-menu-wrapper{ overflow-y: scroll; height: 272px; -webkit-overflow-scrolling: touch }


p{ font-size:1.4em;}

/** Titols
 * ------
/***********************/

h1{ font-size:4em; }
h2{ font-size:3em; font-weight:200;margin-bottom: 0.8em;letter-spacing: -0.05em; line-height:1em;}
h3{ font-family: "Source Sans Pro"; font-size: 2.5em; font-weight: 200; margin: 0; padding-bottom: 0.5em;letter-spacing: -0.07em;}

h1 span.site-slogan {
    color: #000000;
    display: block;
    font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
    font-size: 0.4em;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.06em;
    text-transform: none;
	margin-top: -0.3em;
}
.submitted{ color: #666666; font-size: 1.1em; margin-bottom: 1em;}
.content a:hover{ text-decoration:underline;}

/* Generics
 * -------
/*******************/

p, ul, dl{ font-size:1.4em; color:#666666; line-height: 1.2em; margin-bottom:17px;}
	
	ul, dl{ margin-top:20px;}
dl dt{ color:#000;}

ul{
 list-style-type: none;
 list-style-image: url(../images/main-li.png) ;
 margin-left: 1em;
 padding-left:1.2em;
}
/* Breadcrumb */

#breadcrumb {
    color: #666666;
    font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    /*margin-bottom: 2em;
    padding: 30px 0;*/
}
#breadcrumb ul {
    display: block;
    height: auto;
    overflow: hidden;
    padding-left: 0.2%;
	list-style-image:none;
	list-style:none;
	margin-left:0; 
	margin-right:0;
	margin-top:0;
	margin-bottom: 36px;
	font-size:1em;
	

}
#breadcrumb ul li {
    background: url("../images/breadcrumb.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    float: left;
    margin-left: 0.25em;
	padding-left: 0.6em;
	line-height:1em;
}
#breadcrumb ul li a:hover{ text-decoration:underline;}
#breadcrumb ul li.first {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-left: 0;
    padding-left: 0;
}

/* Layout
 * ------
/***********************/


#page {
  *zoom: 1;
  margin:0;
  padding:0;
  position:relative;
}
#page:before, #page:after {
  content: " ";
  display: table;
}

#page:after {
  clear: both;
}



/** Header
 * ------
/***********************/

#zone-header-wrapper { padding: 1.8em 0 3.5em;}
#zone-header-wrapper h1{ text-align:center; font-weight:300; margin:0; letter-spacing:-0.06em;}

#zone-header-wrapper h1.fixed{
	display:none;
}

/** Menu
 * ------
/***********************/

#zone-menu-wrapper{ clear:both;}
#zone-menu-wrapper .grid{ position:relative; }
.fixed-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.35);
    left: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}




/** grid system **/

.grid{ margin:0 auto; height:auto;}
.grid-50{ width:50%; float:left; padding-top:9px; padding-bottom:9px;}
.grid-full{ clear:both ; padding:8px 0;}

.grid{ width:1080px; }
.b1.grid-50{ padding-right:3.703703703703704%;border-right:1px solid #e5e5e5;}
.b2.grid-50{ padding-left:3.703703703703704%;border-left:1px solid #e5e5e5; margin-left:-1px;}


.b1{ }
.b2{ }

.zone-wrapper{ clear:both;  padding:50px 0;}
.zone-wrapper:after{ height:0; content:'.'; visibility:hidden; clear:both; display:block;}


/* Search Form */

#block-search-form{  
	display: none;
    position: absolute;
    right: 0;
    text-align: right;
    width:350px;
	margin-top:5px;
	
}

#block-search-form-mobile{
	background-color:#f2f2f2;
	border-bottom:2px solid #fff;
	position:relative;
}

#block-search-form .form-text, #block-search-form-mobile .form-text{ 
	width:312px; 
	border:1px solid #e5e5e5; 
	color:#666666; 
	font-size:1.4em; 
	font-family:"Source Sans Pro", Arial; 
	padding:10px 15px;
	-webkit-box-shadow: 0px 3px 2px 0px rgba(238, 238, 238, 1);
	-moz-box-shadow:    0px 3px 2px 0px rgba(238, 238, 238, 1);
	box-shadow:         0px 3px 2px 0px rgba(238, 238, 238, 1);
}


#block-search-form-mobile .form-text{
	border: 1px solid #A5A5A5;
    margin: 14px 3.125%;
    width: 90%;
	padding:5px 10px;
	-webkit-appearance: none;
    border-radius: 0;
}

#block-search-form .form-submit, #block-search-form-mobile .form-submit{
	background: url(../images/bg-boton-search-cerca.gif) no-repeat;
	border:1px solid #e5e5e5; 
	border-left:0;
    height: 40px;
    position: absolute;
    right: 0;
    text-indent: -5000px;
    top: 0;
    width: 40px;
	-webkit-appearance: none;
    border-radius: 0;
 }
 
 #block-search-form-mobile .form-submit{
	background: url(../images/mobile/lupa-mobile.gif) no-repeat #fff;
	border:1px solid #A5A5A5; 
	border-left:0;
    height: 30px;
    position: absolute;
    right: 3.125%;
    text-indent: -5000px;
    top: 14px;
    width: 40px;
	background-position:2px;
	background-size:81%;
	
 }


/******************************/
/*       css especifics       */ 
/******************************/

p.entradeta{ font-size:1.6em; color:#000;}
#page a.btn {
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 3px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0;
    padding: 0.52em 1.3em;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.53);
	text-decoration:none;
    display:inline-block;
	text-transform:uppercase;
	cursor:pointer;
}

.sombra-bloc:hover {
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);
}	
.sombraplus-bloc{padding-bottom: 4em;}

.sombraplus-bloc:hover {
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);
	background: url(../images/plus-blau.png) no-repeat bottom right #fff;
	cursor:pointer;
	
}	

/****************/

ul.box, ul.box-item {
   
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: 0;
    width: 100%;
	padding:0;
	font-size:1em;
	border: 1px solid #E4E4E4;
}

ul.box:hover, .box:hover {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
ul.box-item { box-shadow:none;} 
ul.box li, ul.box-item li{padding: 0.7em 1em 0.6em 1em;}
ul.box-item li:hover {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

ul.box li, ul.box-item li{    border-bottom: 1px solid #E4E4E4; background-position: 13px 13px;padding: 1.5em;}
ul.box li a, ul.box-item li a {
    color: #0069e1;
    font-size: 1.4em;
    font-style: normal;
	line-height:1.2em;
	text-decoration:none;
}
#page ul.box li a:hover, #page ul.box-item li a:hover {	text-decoration:none;}
ul.box li a span, ul.box-item li a span,  ul.documentacio li a span {
    color: #666666;
	
}


ul.documentacio{ margin:0 0 50px; padding:0;}
ul.documentacio li {
    background-image: url(../images/ico-file.gif);
    background-position: 0 5px;
    background-repeat: no-repeat;    
    padding:  0.5em 0 0.3em 20px;
    list-style-image: none;
    list-style-type: none;
	margin:0;
	

}
ul.documentacio li a{ line-height:1.2em;}
#page ul.documentacio li a{text-decoration:none;}

ul.documentacio.box li, ul.documentacio.box-item li{    background-position: 13px 13px;padding: 2.8% 2% 2.8% 35px;}


.content a.btn:hover { text-decoration:none;}

@media screen and (max-width: 1024px) {

.grid{ width:906px; }
.grid-50{padding-top: 13px; padding-bottom:13px;}
.b1.grid-50{ padding-right:4.307407407407407%; }
.b2.grid-50{ padding-left:4.307407407407407%; }

h1{ font-size:3.4em;}
h2{ font-size:2.4em; margin-bottom:1.1em;}
h3{ font-size: 2em;}

/** Menu
 * ------
/***********************/
#zone-header-wrapper {padding: 1.4em 0 2.6em;}
#zone-menu-wrapper{padding: 0 0; }
#zone-menu-wrapper.fixed-menu{ padding:2px 0;}

.zone-wrapper{padding:36px 0;}
#breadcrumb ul{ margin-bottom:40px;}

/******************************/
/*       css especifics       */ 
/******************************/

ul.documentacio.box li, ul.documentacio.box-item li {
    background-position: 13px 9px;
}

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px)
and (orientation : portrait) {

.grid{
    width: 90.1%;
}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-2 .level-1{ width: 94%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-3 .level-1.last{ width: 48%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-4 .level-1.last{ width: 33.55%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-5 .level-1{ width: 23.5%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-6 .level-1{ width: 18.52%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-7 .level-1{ width: 15.7%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-8 .level-1 { width: 13.3%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-9 .level-1 {width: 11.85%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-10 .level-1 { width: 10.55%;}

#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-2.amb-cercador .level-1 {width: 88.2%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-3.amb-cercador .level-1 { width: 44.1%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-4.amb-cercador .level-1 {width: 28.9%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-5.amb-cercador .level-1 {width: 22.1%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-6.amb-cercador .level-1 { width: 16.7%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-7.amb-cercador .level-1 { width: 14.6%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-8.amb-cercador .level-1 { width: 12.1%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-9.amb-cercador .level-1{width: 10.55%;}
#zone-menu-wrapper .tb-megamenu-main-menu .tb-megamenu-nav.total-10.amb-cercador .level-1{  width: 9.55%;}

}

@media screen and (max-width: 767px) {

.grid{ width:93.75%; }
#zone-menu-wrapper{ margin-bottom:14px;}
#zone-menu-wrapper .grid{ width:100%; }
.zone-wrapper{ padding:14px 0;}
.grid-50{ float:none; width:100%; padding:0;}
.b1.grid-50{  padding:0; border:0; }
.b2.grid-50{  padding:0; border:0;}

h1{ font-size:2.5em;}
h1 span.site-slogan{ display:none;}

#header{ position:absolute; margin:0; left:0; right:0;}
#zone-header-wrapper{ padding:0;}
	#zone-header-wrapper h1{ margin-top:4%; padding-left: 23%; text-align: left;}
#zone-menu-wrapper{ margin-bottom:15px;  padding: 0; }
#zone-menu-wrapper.fixed-menu{ padding:0;}
#zone-header-wrapper h1.fixed{
    padding-left: 0;
	left:23%;
    margin-top: 4%;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    width: 74%;
    z-index: 50000;
	display:block;
	
}

#mobile-menu-wrapper{ border-top:1px solid #e5e5e5;}


}