@charset "utf-8";
/* CSS Document */

ul, dl{ /*height:1%;*/ overflow:visible; }
#accions { height:1%;overflow:visible; }
#formulari{ height:1%; width:91.3em; padding-left:0; padding-right:0; display:inline-block;}
form{ margin:0; padding:0;}



#directori-home ul{ width:15em; display:inline-block; position:relative;}
#directori-home ul.col1{ margin-left:6.7em;}

#div-cerca-av { margin-left:9.3em;}

#col-act-dest #act-dest-1, #col-act-dest #act-dest-2{ clear:both; width:100%; }

#col-act-dest .bloc .contenidor div.data{ position:relative; overflow:visible; display:block; height:1%;}

#col-act-dest{ width:58.5em;}

.datepickerContainer{ height:1%; overflow:visible;}

.contenidor-home-2{ height:1%;}

#home-col-0{ display:inline-block;}

#bcn-proposa .contenidor-home-2{ position:relative; overflow:hidden; width:562px;}



#div-cerca-av .tabform .section, #div-cerca-av .tabform .envia-av{ width:44.9em; display:block}

#div-cerca-av #div-pestanes{ width:46em;}

#col-detall-0{ clear:both; margin-right:1.35em}
.tabform{ width:536px;}
#div-cerca-av .tabform .section ul li input{ margin:0; padding:0;}
#div-cerca-av .tabform .section ul li label{ margin-right:3px;}

.div-detall-1 dl, .div-detall-1 div{ clear:left;}


#magrada a { display: block;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 12em;}
	
	#magrada a span{ padding-right:1.2em;}

#directori-home.search h2{ margin-left:27px;}
#directori-home.search .directori h2{margin-left:26px;}


#llista-resultats{ margin-right:0; width:340px; }
#llista-resultats div{  clear:left; float:left; position:relative!important; width:100%;}