@charset "utf-8";
/* CSS Document */

#capsalera, #col-0, .paginador, .banner, #cerca-relacionada, #accions ul, img.amplia{ display:none;}

body, #info-ajbarna, #llista-resultats div.destacats .llistat, #llista-resultats .par{ background:none;}

#resultats, #contenidor{ padding:0; margin:0;}

#mapa{ position:inherit;}